<div id="detailNav" class="open" >	
  <ul id="dList" class="nav">
    <li class="desc"><a href="https://github.com/huntfunc/huntfunc-one/wiki/huntfunc-one-project-wiki">Description</li>
    <li class="github"><a href="https:/github.com/huntfunc/huntfunc-one">GitHub Link</a></li>
    <li class="rmap"><a href="https://github.com/huntfunc/huntfunc-one/wiki/Road-Map">Road Map</a></li>
    <li class="art"><a href="/images/vllUML.png">Artifacts</a></li>
  </ul>
  <div id="status">
    <div id="propsal"></div>
    <div id="indev"></div>
    <div id="alpha"></div>
    <div id="beta"></div>
    <div id="release"></div>
</div>
